# Python >= 3.9
# This file lists the direct dependencies needed to run the application.
# For development, please install requirements-dev.txt as well.
google-generativeai~=0.5
python-dotenv~=1.0
PyYAML~=6.0

typing-extensions>=4.10; python_version < "3.11"
